@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=DM+Serif+Text&display=swap');


.about-us {
  background-color: rgb(185, 198, 174);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
}

.about-us h2 {
  font-family: 'DM Serif Text', serif;
  margin-bottom: 40px;
  font-size: 2rem;
  color: rgb(20, 37, 55);
  text-align: center;
}

.about-us p {
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-family: 'Kite One', sans-serif;
  line-height: 1.8;
  color: rgb(20, 37, 55);
}

.about-us p::first-letter {
  font-size: 1.4rem;
  color: rgb(20, 37, 55);
}

@media (max-width: 500px) {
  .about-us {
    padding: 15px;
  }
}