/* Header Styling */

header {
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px;
    align-items: center;
    width: 100vw;
    height: max-content;
}

header img {
    z-index: 5;
    flex: 1;
    margin-right: 20px;
    max-width: 30vw;
}

/* Nav Bar */

nav {
    flex: 1;
    z-index: 5;
    display: flex;
    padding: 20px 10px;
    justify-content: space-around;
    background-color: var(--rgb-color-neutral-100);
    border-radius: 10px;
    min-width: 50vw;
    width: max-content;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    border: solid rgba(0, 0, 0, .2) 1px;
}

nav a {
    padding: 15px 3vw;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons > a:hover {
    transition: all .15s ease-out;
    color: white;
    background-color: var(--rgb-color-neutral-700);
}

nav > .dropdown {
    display: none;
    width: 100%;
    text-align: center;
}

nav > .dropdown:hover, nav > .dropdown:hover:active {
    background-color: var(--rgb-color-primary);
    color: black;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

.nav-buttons > .contact-style {
    background-color: var(--rgb-color-primary);
}

.carousel-wrapper {
    padding: 0 50px;
    display: flex;
    overflow-x: scroll;
    gap: 50px;
    width: 100vw;
    z-index: 0;
}

.carousel-wrapper img {
    z-index: inherit;
    height: 100%;
    aspect-ratio: 16/9;
}

.carousel-nav button:hover, .carousel-nav button:active {
    color: var(--rgb-color-neutral-100);
    background-color: var(--rgb-color-neutral-700);
}

/* Media Queries */

@media screen and (max-width : 900px) {
    .header-image {
        display: none;
    }
    nav {
        width: 90%;
        padding: 0;
        margin-top: 10px;
        flex-direction: column;
    }
    nav > .nav-buttons {
        max-height: 0;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        transition: max-height 300ms ease-out;
    }
    nav > .nav-buttons.active {
        padding: 20px 20px;
        transition: max-height 300ms ease-out;
    }

    .nav-buttons > a {
        border-bottom: solid rgba(0,0,0,.1) 1px;
    }

    .nav-buttons > a:last-of-type {
        border-bottom: none;
    }

    nav > .dropdown {
        display: block;
        padding: 20px 0;
    }

    .dropdown.active {
        border: solid rgba(0,0,0, .1) 1px;
        background-color: rgba(var(--color-primary), .4);
        box-shadow: 0 5px 5px rgba(0,0,0,.1);
    }
}

