.slideshow-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 125px;
    left: 50%;
    translate: -50% 0;
    z-index: 1;
    aspect-ratio: 16 / 9;
    height: max-content;
    border-radius: 20px;
    padding: 0 20px;
}

.slideshow-wrapper img {
    display: none;
    border-radius: 20px;
    max-height: 60vh;
    aspect-ratio: 16 / 9;
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    animation-name: fade-image;
    animation-duration: 1s;
}

@keyframes fade-image {
    from {opacity: .7}
    to {opacity: 1}
}